body{
    background-color: blueviolet;

    
}
h3{
  background-color: cadetblue;
  margin-top: -3px;
  height: 50px;
  
}
#fim{
    background-color: cadetblue;
    width: 500px;
    height: 170px;
    margin-left: 50px;
    display: flex;
     
}
#fim1{
    height: 145px;
    margin-top: 8px;
    width: 400px;
    margin-left: 10px;
}
#btnfim{
    height: 30px;
border-radius: 5px;
background-color: blue;
color: #FFFFFF;
margin-top: 8px;
margin-left: 10px;
}

#base{
    width: 600px;
    background-color: #FFFFFF;
    padding: 10px;
    font-weight:  16px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 400px;
    text-align: center;
    height: 500px;
    position: relative;
    
}
#base2{
    width: 590px;
    height: 50px;
    margin-top: -12px;
}
#base3{ 
   justify-content: space-between;
   position: absolute;
   right: 10px;
   margin-top: 5px;
   background-color: blue;
   color: #FFFFFF;



}
#base4{
  justify-content: space-between;
  position: absolute;
  right: 70px;
  margin-top: 5px;
  background-color: blue;
  color: #FFFFFF;
 
  
}